<!-- mettre form de création pour le trip -->
<%= stylesheet_link_tag "trips_create" %>
<link href="https://fonts.googleapis.com/css?family=Barrio|Gloria+Hallelujah|Sofia" rel="stylesheet">

<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>


<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>

<div class="form-create-trip">
<form action="/trips" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="beginning_date" placeholder="Beginning of the trip">
  <input type="text" name="end_date" placeholder="Ending of the trip">
  <input type="submit">
</form>
</div>





