<!-- mettre form de création pour le trip -->
<%= stylesheet_link_tag "trips_create" %>
<link href="https://fonts.googleapis.com/css?family=Barrio|Gloria+Hallelujah|Sofia" rel="stylesheet">

  <%#= month_calendar do |date| %>
  <%#= date %>
  <%# end %>


<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>

<div class="form-create-trip">
<form action="/trips" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="description" placeholder="Description">
  <p>Début :<%= date_field(:trip, :beginning_date) %></p>
  <p>Fin : <%= date_field(:trip, :end_date) %></p>
  <input type="submit">
</form>
</div>





