<%= stylesheet_link_tag "trips" %>
<link href="https://fonts.googleapis.com/css?family=Barrio|Gloria+Hallelujah|Sofia" rel="stylesheet">

<!-- <div class="Title">
<h1>My Trips</h1>
</div> -->
<body>
<div class="navbar-wagon">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <div class="Title-navbar">
      <p>MY TRIPS</p>
    </div>
  </div>
</div>
<a href="/home" id="a1">Log Out</a>
<a href="users/sign_in" id="a2">Home</a>
<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--flowers"></div>
      <div class="card__content">
        <div class="card__title">TRIP N*1</div>
        <p class="card__text">A ten days travel to Russia.</p>
        <button class="btn btn--block card__btn">See More</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--flowers2"></div>
      <div class="card__content">
        <div class="card__title">TRIP N*2</div>
        <p class="card__text">A ten days travel to Cuba.</p>
        <button class="btn btn--block card__btn">See More</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--flowers3"></div>
      <div class="card__content">
        <div class="card__title">TRIP N*3</div>
        <p class="card__text">A two week travel to Spain.</p>
        <button class="btn btn--block card__btn">See More</button>
      </div>
    </div>
  </li>
</ul>
</body>
