<%= stylesheet_link_tag "trips_index" %>
<link href="https://fonts.googleapis.com/css?family=Barrio|Gloria+Hallelujah|Sofia" rel="stylesheet">

<!-- <div class="Title">
<h1>My Trips</h1>
</div> -->
<div class="navbar-wagon">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <div class="Title-navbar">
      <p>MY TRIPS</p>
      <a href="/home" id="a1">Log Out</a>
      <a href="/home" id="a2">Home</a>
    </div>
  </div>
</div>
<div>
  <!-- Il faut que je fasse la logique derrière le formulaire qui génèrera les cards pour chaque user, avec les informations du trip, il faut que je fasse les migrations nécessaires en rajoutant un titre + description du trip avec rails g migrate etc là.  -->
  <ul class="cards">
    <% @trips.each do |trip| %>
      <li class="cards__item">
        <div class="card">
          <%= trip.beginning_date %>
        </div>
      </li>
    <% end %>
  </ul>

   <!-- liste a retirer -->
  <ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--flowers"></div>
        <div class="card__content">
          <div class="card__title">TRIP N*1</div>
          <p class="card__text">A ten days travel to Russia.</p>
          <button class="btn btn--block card__btn">See More</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--flowers2"></div>
        <div class="card__content">
          <div class="card__title">TRIP N*2</div>
          <p class="card__text">A ten days travel to Cuba.</p>
          <button class="btn btn--block card__btn">See More</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--flowers3"></div>
        <div class="card__content">
          <div class="card__title">TRIP N*3</div>
          <p class="card__text">A two week travel to Spain.</p>
          <button class="btn btn--block card__btn">See More</button>
        </div>
      </div>
    </li>
  </ul>
  <a href="/trips/create" class="btn-medium">Create another Trip !</a>
</div>
