

<%= stylesheet_link_tag "users" %>
<link href="https://fonts.googleapis.com/css?family=Barrio|Gloria+Hallelujah|Sofia" rel="stylesheet">


<div class="wrapper">
  <div class="profile-container">
    <div class="profile-content">
      <h1>Profile</h1>
        <div class="avatar-container">
        </div>
        <div class="user_informations">
      <%= @user.first_name %>
      <%= @user.last_name %>
      </div>
    </div>
  </div>
  <div class="map-container">

  </div>
</div>
