// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #143A52;
  opacity: 0.95;
}
figure {
  width: 50%;
  margin: 8vh auto 0 auto;
  max-width: 80vh;
}
figure #sea {
  fill: #9BC4EB;
}
figure #hi {
  fill: rgba(255, 255, 255, 0.2);
}
figure #light {
  fill: white;
}
figure #shad {
  fill: rgba(0, 0, 0, 0.05);
}
figure #land {
  fill: #8B9C52;
  -webkit-animation: spin 10s linear infinite forwards;
          animation: spin 10s linear infinite forwards;
}
figure .vehicles use {
  fill: #F0FBFC;
  -webkit-animation: orbit 15s linear infinite;
          animation: orbit 15s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
figure #boat1 {
  -webkit-transform: translateX(40px) translateY(-80px);
          transform: translateX(40px) translateY(-80px);
}
figure #boat1 use {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
figure #plane1 {
  -webkit-transform: translateX(-10px) translateY(170px);
          transform: translateX(-10px) translateY(170px);
}
figure #plane2 {
  -webkit-transform: translateX(170px) translateY(150px);
          transform: translateX(170px) translateY(150px);
}
figure #plane2 use {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
figure #plane3 {
  -webkit-transform: translateX(140px) translateY(-50px);
          transform: translateX(140px) translateY(-50px);
}
figure #plane3 use {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
figure #bike1 {
  -webkit-transform: translateX(50px) translateY(190px);
          transform: translateX(50px) translateY(190px);
}
figure #bike1 use {
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(-160px);
            transform: rotate(0deg) translateX(-160px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-160px);
            transform: rotate(360deg) translateX(-160px);
  }
}
@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(-160px);
            transform: rotate(0deg) translateX(-160px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-160px);
            transform: rotate(360deg) translateX(-160px);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.btn_SignUp {
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  display: flex;
  float: left;
  width: 100px;
  margin-left: 184px;
  margin-top: 300px;
  text-decoration: none;
}

 .btn_SignUp a {
    text-decoration: none;
    color: white;
    padding-left: 30px;
    font-family: "Barrio";
  }

.btn_SignUp:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.btn_LogIn {
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  display:flex;
  float: right;
  width: 100px;
  margin-right: 184px;
  margin-top: 300px;
  text-decoration: none;
}

.btn_LogIn a {
  text-decoration: none;
  color: white;
  font-family: "Barrio";
  padding-left: 26px;
}

.btn_LogIn:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}





 // color: white;
 // border: 1px solid #999999;
 // padding: 10px 15px;
 // border-radius: 50px;
 // font-weight: lighter;
 // opacity: 0.6;
 // display: flex;
 // float: left;
 // padding: 15px;
 // width: 100px;
 // margin-left: 184px;
 // margin-top: 195px;









