h2 {
  color: black;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #435160;
  text-decoration: none;
}

.medias_form {
  width: 350px;
  position: absolute;
  top: 22%;
  left: 47%;
  margin-left: -175px;
  background-color: #F8F1D0;
  border-radius: 3px;
  padding: 20px;
}

input[type="text"], input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 16px;
}
input[type=checkbox] {
  display: none;
}


input[type="submit"] {
  background: #285b61;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  animation-name: shake;
}


::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

h3 {
  color: black;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.activities_form {
  width: 350px;
  position: absolute;
  top: 22%;
  left: 82%;
  margin-left: -175px;
  background-color: #F8F1D0;
  padding: 20px;
  border-radius: 3px;
}

.simple-calendar {
  position: absolute;
  top: 178px;
  left: 68px;
  font-family: 'Sofia', cursive;
  font-size: 25px;
  background-color: #F2E8C6;
  padding: 15px;
  border-radius: 3px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}


.rating > label {
  color: #ddd;
 float: right;
}

.full {
  background-color: black;
  border-radius: 2px;
}

#star1 {
  width: 400px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

