// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: 600px;
}

.profile-container {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  // border: 2px solid rgb(40,91,97);
  // border-radius: 3px;
}

.map-container {
  grid-column: 3 / span 3;
  grid-row: 1 / span 2;
  // border: 1px solid white;
  // border-radius: 3px;
}

#map {
  position: sticky !important;
}

.profile-container {
  padding-top: 10px;
  border: white 2px solid;
  border-radius: 3px;
  margin-top: 35px;
  margin-left: 10px;
}

.user_informations {
  font-family: '56th Street';
  color: white;
  padding-left: 189px;
  padding-top: 80px;
  font-size: 25px;
}

.linktofriends {
  color: white;
  text-decoration: none;
  position: absolute;
  margin-top: 24px;
  font-family: 'Mindfully';
  margin-left: 224px;
  font-size: 25px;
}

.linktotrips {
  color: white;
  text-decoration: none;
  font-family: 'Mindfully';
  margin-left: 225px;
  margin-top: 64px;
  position: absolute;
  font-size: 25px;
  }

#logo1 {
  width: 29px;
  position: absolute;
  margin-left: 181px;
  margin-top: 62px;
}

#logo2 {
  position: absolute;
  width: 27px;
  margin-left: 183px;
  margin-top: 19px;
}

h1 {
  font-family: '56th Street';
  font-size: 40px;
  color: #35B0AB;
  position: absolute;
  top: 138px;
  left: -215px;
}

.avatar-container {
  background-color: #1CA2BB;
  margin-left: 1.5rem;
  margin-top: 5.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 0.6rem solid #005E7C;
  position: absolute;
  }

.avatar {
  cursor: pointer;
  color: red;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  background: url(tourist.svg);
  background-size: 113px;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

