
<%= stylesheet_link_tag "registration" %>


<link href="https://fonts.googleapis.com/css?family=Barrio|Gloria+Hallelujah|Sofia" rel="stylesheet">

<div class='login'>
  <h2>Sign Up</h2>
  <!-- <img src="/public/backpack.png" alt="Backpack"> -->
  <link rel="shortcut icon" href="public/favicon2.ico" />
  <input first_name='first_name' placeholder='First Name' type='text'>
  <input last_name='Last Name' placeholder='Last Name' type='text'>
  <input name='email' placeholder='E-Mail Address' type='text'>
  <input id='pw' name='password' placeholder='Password' type='password'>
  <div class='agree'>
    <input id='agree' name='agree' type='checkbox'>
    <label for='agree'></label>Accept rules and conditions
  </div>
  <input class='animated' type='submit' value='Submit'>
</div>

